body {
  font-family: DejaVu Sans, sans-serif;
  font-size: 12px;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

.company {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.info td {
  padding: 6px;
}

.salary th,
.salary td {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
}

.salary th {
  background-color: #f2f2f2;
}

.total {
  font-weight: bold;
}

.footer {
  margin-top: 30px;
  text-align: center;
  font-size: 11px;
}
